################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gym_Management_System/Client/Client/bin/Debug/Client.exe
/Gym_Management_System/Client/Client/bin/Debug/Client.exe.config
/Gym_Management_System/Client/Client/bin/Debug/Client.pdb
/Gym_Management_System/Client/Client/obj/Debug/Client.csproj.AssemblyReference.cache
/Gym_Management_System/Client/Client/obj/Debug/Client.csproj.CoreCompileInputs.cache
/Gym_Management_System/Client/Client/obj/Debug/Client.csproj.FileListAbsolute.txt
/Gym_Management_System/Client/Client/obj/Debug/Client.csproj.GenerateResource.cache
/Gym_Management_System/Client/Client/obj/Debug/Client.exe
/Gym_Management_System/Client/Client/obj/Debug/Client.exe.config
/Gym_Management_System/Client/Client/obj/Debug/Client.pdb
/Gym_Management_System/Client/Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Gym_Management_System/Client/.vs/Client.slnx/v17/.suo
/Gym_Management_System/Client/.vs/Client.slnx/v17/DocumentLayout.backup.json
/Gym_Management_System/Client/.vs/Client.slnx/v17/DocumentLayout.json
/Gym_Management_System/Client/.vs/Client.slnx/FileContentIndex/67e1e712-5551-45f8-8fa4-64e6866149d5.vsidx
/Gym_Management_System/Client/.vs/Client.slnx/FileContentIndex/dbd4846a-6c7a-4fbe-b53d-e71debdce1f2.vsidx
/Gym_Management_System/Client/.vs/Client/CopilotIndices/17.14.1601.40145/CodeChunks.db
/Gym_Management_System/Client/.vs/Client/CopilotIndices/17.14.1601.40145/CodeChunks.db-shm
/Gym_Management_System/Client/.vs/Client/CopilotIndices/17.14.1601.40145/CodeChunks.db-wal
/Gym_Management_System/Client/.vs/Client/CopilotIndices/17.14.1601.40145/SemanticSymbols.db
/Gym_Management_System/Client/.vs/Client/CopilotIndices/17.14.1601.40145/SemanticSymbols.db-shm
/Gym_Management_System/Client/.vs/Client/CopilotIndices/17.14.1601.40145/SemanticSymbols.db-wal
/Gym_Management_System/Client/.vs/Client.slnx/FileContentIndex/82378d50-c0e8-4a08-b1d1-6e7926ed815a.vsidx
/Gym_Management_System/Client/.vs/Client.slnx/FileContentIndex/de8fa839-beed-4ed5-b2a4-52eb310e327b.vsidx
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
