<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<appSettings>
		<!-- Cloudinary credentials . -->
		<add key="CloudinaryCloudName" value="droporvek" />
		<add key="CloudinaryApiKey" value="446231592158598" />
		<add key="CloudinaryApiSecret" value="EAFNruMJv_UH7dJZY8agbV7fhW8" />
		<!-- Optional: folder lưu ảnh trên Cloudinary -->
		<add key="CloudinaryEmployeesFolder" value="gym/employees" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="GymManagementSystem" connectionString="Server=db48275.public.databaseasp.net;Database=db48275;User Id=db48275;Password=Eh3#2!oK%jC5;Encrypt=False;MultipleActiveResultSets=True;"
		 providerName="System.Data.SqlClient" />
	
	</connectionStrings>
</configuration>